{{ partial "header.html" . }}

<header>
  {{ partial "navbar.html" . }}

  <div class="site-header">
    <div class="container">
      <h1 class="site-name">Aiana</h1>
      <p class="site-lead">
        Aiana est un lecteur web multimédia développé dans le cadre d’un projet de recherche mené par l’équipe Potioc (Inria, Université de
        Bordeaux, CNRS).<br>
        Son objectif est de favoriser l’accès aux systèmes numériques d’enseignement et de formation sans exclure les personnes en
        situation de handicap, notamment d’origine cognitif.
      </p>
    </div>
  </div>
</header>

<main>

  <div class="container presentation">
    <section>
      <h2 class="section-title visually-hidden">Présentation du projet</h2>
      <div>
        <video src="{{ "vid/presentation-aiana.mp4" | relURL }}" width="100%" controls></video>
      </div>
    </section>
  </div>

  <div class="contributors">
    <section class="large container">
      <h2 class="section-title visually-hidden">Contributeurs</h2>
      <ul class="contributors-list">
        <li><a href="https://team.inria.fr/potioc/fr/"><img src="{{ "img/logo-equipe-potioc.png" | relURL }}" alt="Équipe Potioc"></a></li>
        <li><a href="https://www.inria.fr/"><img src="{{ "img/logo-inria.png" | relURL }}" alt="Inria"></a></li>
        <li><a href="https://www.u-bordeaux.fr/"><img src="{{ "img/logo-universite-de-bordeaux.jpg" | relURL }}" alt="Université de Bordeaux"></a></li>
        <li><a href="https://cnrs.fr/"><img src="{{ "img/logo-cnrs.svg" | relURL }}" alt="Centre National de la Recherche Scientifique"></a></li>
      </ul>
    </section>
  </div>

  <div class="container publications">
    <section>
      <h2 class="section-title">Présentations et publications</h2>
      <ul class="publications-list">
        <li><a href="http://binaire.blog.lemonde.fr/2018/07/10/pourquoi-il-faut-developper-laccessibilite-numerique/">Pourquoi il faut développer l’accessibilité numérique !</a></li>
        <li><a lang="en" href="https://hal.inria.fr/hal-01761462">Towards Truly Accessible MOOCs for Persons with Cognitive Disabilities:
            Design and Field Assessment</a></li>
        <li><a lang="en" href="https://hal.inria.fr/hal-01848103">Improving the Academic Inclusion of a Student with Special Needs at
            University Bordeaux</a></li>
      </ul>
    </section>
  </div>
</main>

<div class="container">
  <footer class="site-footer">
    {{ partial "legal.html" .}}
  </footer>
</div>

{{ partial "footer.html" . }}