{{ partial "header.html" . }}

<h1>Aiana media player</h1>

<div class="presentation">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero nulla earum quae sequi accusamus accusantium repellendus, porro, temporibus, iste fuga magnam eveniet dolore molestias laboriosam tempore nobis numquam. Laborum.
</div>

<div class="partners">
  
</div>

<div class="publications">
  <h2>Publications</h2>
  <ol>
    <li><a href="#">publication 1</a></li>
    <li><a href="#">publication 2</a></li>
    <li><a href="#">publication 3</a></li>
  </ol>
</div>

{{ partial "footer.html" . }}