{{ partial "header.html" . }}

<h1>Aiana media player</h1>

  <div class="site-header">
    <div class="large container">
      <h1 class="site-name">Aiana</h1>
      <p class="site-lead">
        Aiana est un lecteur web multimédia développé dans le cadre d'un projet de recherche mené par Inria et l'université de Bordeaux.
        Son objectif est de favoriser l’accès aux systèmes numériques d’enseignement et de formation sans exclure les personnes en
        situation de handicap, notamment d’origine cognitif.
      </p>
    </div>
  </div>
</header>

<div class="partners">
  
</div>

<div class="publications">
  <h2>Publications</h2>
  <ol>
    <li><a href="#">publication 1</a></li>
    <li><a href="#">publication 2</a></li>
    <li><a href="#">publication 3</a></li>
  </ol>
</div>

{{ partial "footer.html" . }}